/* Estilos globais */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Links */
a {
    color: white;
    text-decoration: none;
    border-radius: 2px;
    font-size: 14pt;
    text-decoration: underline;
    text-decoration-style: dotted;
}

a:hover {
    color: black;
    background-color: white;
    transition: 0.3s;
}

/* Cartões */
.card {
    width: 80%;
    max-width: 700px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 30px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.name {
    position: relative;
    margin-top: 10px;
    font-size: 20pt;
    font-weight: bold;
}

.dev {
    position: relative;
    margin-top: 10px;
    font-size: 14pt;
}

/* Imagens */
.image {
    height: 40%;
    width: 40%;
    border-radius: 50%;
    display: flex;
}

.social {
    margin-top: 35px;
}

.link {
    display: inline;
    margin-right: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
    .card {
        width: 85%;
        padding: 30px;
    }
}

@media (max-width: 480px) {
    .card {
        width: 90%;
        padding: 20px;
    }
}
