a {
    color: white;
    text-decoration: none;
    border-radius: 2px;
}

a:hover {
    color: black;
    background-color: white;
    transition: 0.3s;
}

.card {
    width: 250px;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;

    span {
        position: absolute;
        margin-left: 15px;
        margin-top: 25px;
        font-size: 18pt;
    }
}

.image {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
