<div class="card">
  <img class="image" src="../assets/euVermelho.jpg">
  <span>Marco Túlio</span>
</div>

<div class="social">
  <ul>
    <!-- GITHUB -->
    <li class="link">
      <a href="https://github.com/tmarcorf" target="_blank">GitHub</a>
    </li>

    <!-- LINKEDIN -->
    <li class="link">
      <a href="https://www.linkedin.com/in/marco-t%C3%BAlio-ribeiro-f%C3%A9lix-9125ab132/" target="_blank">LinkedIn</a>
    </li>

    <!-- INSTAGRAM -->
    <li class="link">
      <a href="https://www.instagram.com/tmarcorf/" target="_blank">Instagram</a>
    </li>
  </ul>

  
</div>