* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #363636;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}