/* You can add global styles to this file, and also import other style files */
body {
    background-color: #363636;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}